{
    crowdsec {
        api_url http://crowdsec:8080
        api_key {env.CROWDSEC_API_KEY}
        ticker_interval 15s
        #disable_streaming
        #enable_hard_fails
    }
    # Configure global access logs
    # wildcard certs don't generate access logs and this would be useful
    log {
        output file /var/log/caddy/access.log {
            roll_size 10mb
            roll_keep 10
            roll_keep_for 520h
        }
        level debug
    }
}

{env.DOMAIN} {
        crowdsec
        reverse_proxy {env.PROXY_ADDR} {
                transport http {
                        tls
                        tls_insecure_skip_verify
                }
        }

        tls {
                dns cloudflare {env.CF_API_TOKEN}
                resolvers 1.1.1.1
        }
}
